<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>ArcGIS API for JS: Find places</title>
    <style>
        html, body, #viewDiv {
            padding: 0;
            margin: 0;
            height: 100%;
            width: 100%;
        }
    </style>
    <link rel="stylesheet" href="https://js.arcgis.com/4.23/esri/themes/light/main.css">
    <script src="https://js.arcgis.com/4.23/"></script>

    <script>
        require([
            "esri/config",
            "esri/Map",
            "esri/views/MapView",

            "esri/rest/locator",
            "esri/Graphic"

        ], function(esriConfig, Map, MapView, locator, Graphic) {

            esriConfig.apiKey = "AAPK5cac562e3b3d4388a7fbbb067d123a22hLkBXJc_jWbXVE9ktwKeYt3WW6QNCKPUnYUFj6iWKWE3NrxDfN8H00IWosmq-MN8";

            const map = new Map({
                basemap: "arcgis-navigation"
            });

            const view = new MapView({
                container: "viewDiv",
                map: map,
                center: [18.9553, 69.6492],
                zoom: 13
            });

            const places = ["Coffee shop", "Gas station", "Food", "Hotel"];

            const select = document.createElement("select", "");
            select.setAttribute("class", "esri-widget esri-select");
            select.setAttribute("style", "width: 175px; font-family: 'Avenir Next W00'; font-size: 1em");

            places.forEach(function (p) {
                const option = document.createElement("option");
                option.value = p;
                option.innerHTML = p;
                select.appendChild(option);
            });

            view.ui.add(select, "top-right");

            const locatorUrl = "http://geocode-api.arcgis.com/arcgis/rest/services/World/GeocodeServer";

            // Find places and add them to the map
            function findPlaces(category, pt) {
                locator.addressToLocations(locatorUrl, {
                    location: pt,
                    categories: [category],
                    maxLocations: 25,
                    outFields: ["Place_addr", "PlaceName"]  // 返回的字段
                })
                .then(function (results) {
                    view.popup.close();
                    view.graphics.removeAll();

                    results.forEach(function (result) {
                        view.graphics.add(
                            new Graphic({
                                attributes: result.attributes,  // Data attributes returned
                                geomety: result.location,   // Point returned
                                symbol: {
                                    type: "simple-marker",
                                    color: "#000000",
                                    size: "12px",
                                    outline: {
                                        color: "#FFFFFF",
                                        width: "2px"
                                    }
                                },
                                popupTemplate: {
                                    title: "{PlaceName}",   // Data attribute names
                                    content: "{Place_addr}" // Data attribute addr
                                }
                            }));
                    });
                });
            }

            // Search for places in center of map
            view.watch("stationary", function (val) {
                if (val) {
                    findPlaces(select.value, view.center);
                }
            });

            // Listen for category changes and find places
            select.addEventListener('change', function (event) {
                findPlaces(event.target.value, view.center);
            });
        });
    </script>
</head>
<body>
    <div id="viewDiv"></div>
</body>
</html>